
<div>
  <div id="chatContainer">

  <input  [(ngModel)]="username"  class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" >
    
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Type your message..." aria-label="Type your message..." aria-describedby="basic-addon2"  
     [(ngModel)]="messageText" (keypress)="typing()">
    <div class="input-group-append">
      <button  class="btn btn-primary" type="button"  (click)="sendMessage()">Send</button>
    </div>
  </div>
    <div class="container" *ngFor="let item of messages.slice().reverse() ">
      <p>{{item.msg}}</p>
      <span class="time-right">{{item.timeStamp}}</span>
    </div>
    <div id="feedback"><p>{{feedBack}}</p></div>
  </div>
</div>
<div class="jumbotron text-center">
  <p>Chat Application</p>
</div> 


